.stack {
  background-color: #182930;
  color: #ffffff;
  padding: 20px 50px;
  text-align: center;
}

.stack .row img {
  height: 100px;
  width: 250px;
}



/*Media Queries*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .stack {
    background-color: #182930;
    color: #ffffff;
    padding: 0px 20px;
    text-align: center;
  }

  .stack .row img {
    height: 30px;
    width: 75px;
  }


}
